# Dependencies
node_modules
bun.lockb.backup

# Next.js build output
.next
out
build

# Local env files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
*.log

# Git
.git
.gitignore

# Editor/IDE
.vscode
.idea
*.swp

# OS files
.DS_Store
Thumbs.db

# Test artifacts
coverage
